.container {
    margin: 36px auto;
    width: 100%;
    max-width: 800px;
}


.heading {
    font-size: 30px;
    padding: 16px 0;
    color: #444;
    text-align: center;
}

.search-label {
    position: relative;

}

.container input {
    width: 100%;
    padding: 20px;
    font-size: 40px;
    font-style: italic;
    color: #444;
    box-sizing: border-box;
    outline: none;
}

.search-icon {
    position: absolute;
    top: 170px;
    font-size: 35px;
    color: #555;
    right: 138px;
}